DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0bmpsYW10YXp0bnpmamx0bHd6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQyMTcyNywiZXhwIjoyMDkyOTk3NzI3fQ.s2FiiwsRfRMe9CxMHlm1N2oYagMgxxsFxl7Mg6v_Cd4
SUPABASE_JWT_SECRET=
CORS_ORIGIN=http://localhost:5173
PORT=1337
